.banner-container {
    background-image: url("../img/bg.png");
    background-attachment: fixed;
    /* box-shadow: inset 0 0 0 2000px #1c1c1c7a; */
    /* text-align: center; */
    padding: 160px 15px;
}

@media (max-width: 768px) {
    .banner-container {
        padding: 100px 15px;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.btn {
     text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
    width: 140px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #004AAD;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    
   }
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #000000,
     0 15px 0 -4px #000000
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }
.city-search {
    max-width: 530px;
    margin: auto;
    position: relative;
}

.city-heading {
    text-align: center;
}

.city-card-container {
    text-align: center;
    margin-top: 20px;
}

.city-card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    padding: 20px;
}

.city-card:focus,
.city-card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.city-img {
    height: 100px;
    width: 100px;
}

.button {
     width: 110px;
    height: 40px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 10px;
    background-color: #004AAD;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px white;
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(255, 255, 255);
  }
  
  .button:hover {
    background-color: rgb(254, 25, 25);
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  .faq-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.faq-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    margin: 0;
}
.card {
  width: fit-content;
  background-color: #f2f3f7;
  border-radius: 0.75em;
  cursor: pointer;
  transition: ease 0.2s;
  box-shadow: 1em 1em 1em #d8dae0b1, -0.75em -0.75em 1em #ffffff;
  border: 1.5px solid #f2f3f7;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
}

.card:hover {
  background-color: #d3ddf1;
  border: 1.5px solid #1677ff;
}

.container {
  margin-top: 1.25em;
  margin-bottom: 1.375em;
  margin-left: 1.375em;
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  align-items: center;
  margin: auto;
}


.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  color: #333;
  text-align: center;
}

.time {
  font-size: 0.875em;
  color: #777;
}

.text-link {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.secondary-cta {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

.primary-cta {
  font-size: 15px;
  background-color: transparent;
  font-weight: 600;
  color: #1677ff;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.875em;
}

.slider {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 3s ease-in-out;
  width: fit-content; /* Twice the width to fit both images */
}

.slide {
  width: 100%;
  height: auto;
  border: 0;
}

@keyframes slideAnimation {
  0%, 25% {
      transform: translateX(0);
  }
  50%, 75% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.slides {
  animation: slideAnimation 15s infinite;
}
.fade-images {
  position: relative;
  height: 100vh; /* make it full height */
  width: 100%; /* make it full width */
  margin: 0;
  padding: 0;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top; /* make the image cover the entire container */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-image.visible {
  opacity: 1;
}

/* make it responsive */
@media (max-width: 768px) {
 .fade-images {
    height: 50vh; /* adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
 .fade-images {
    height: 30vh; /* adjust height for even smaller screens */
  }
}
.download-button {
  position: relative;
  justify-content: center;
  border-width: 0;
  color: rgb(252, 252, 252);
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #004AAD;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(233, 233, 233, 0.555) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0px 0px 4px 4px;
  transform: translateY(0%);
  background-color: #b4e3f0;
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

.button2 {
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  /* display: inline-block; */
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

